CREATE PROCEDURE [dbo].[TerminateLease]  
    @TerminateDate DATE,  
 @LeaseId INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
	-- DEACTIVE THE Lease
	UPDATE LeaseData
	SET IsActive = 0
	WHERE LeaseId =  @LeaseId 

    -- Update LeaseLiability table  
    UPDATE LeaseLiability  
    SET   
        Opening = 0,  
        Closing = 0,  
        Interest = 0,  
        Payment = 0,  
  Exchange_Gain_Loss=0  
    WHERE LeaseId=@LeaseId AND LeaseLiability_Date > @TerminateDate;  
  
 -- Update FC_LeaseLiability table  
    UPDATE FC_LeaseLiability  
    SET   
        Opening = 0,  
        Closing = 0,  
        Interest = 0,  
        Payment = 0  
    WHERE LeaseId=@LeaseId AND LeaseLiability_Date > @TerminateDate;  
  
    -- Update ROUTable  
    UPDATE ROUSchedule  
    SET   
        Opening = 0,  
        Closing = 0,  
        Amortization = 0  
    WHERE LeaseId=@LeaseId AND ROU_Date > @TerminateDate;  
  
 -- Update FC_ROUTable  
    UPDATE FC_ROUSchedule  
    SET   
        Opening = 0,  
        Closing = 0,  
        Amortization = 0  
    WHERE LeaseId=@LeaseId AND ROU_Date > @TerminateDate;  
  
 -- Update JournalEntries  
 DELETE FROM JournalEntries  
 WHERE LeaseId=@LeaseId AND JE_Date > @TerminateDate;  
  
 -- Update FC_JournalEntries  
 DELETE FROM FC_JournalEntries  
 WHERE LeaseId=@LeaseId AND JE_Date > @TerminateDate;  
END;  
GO
