CREATE PROCEDURE [dbo].[GetSummarizeLeasesReport]  
    @FromDate DATE,        
    @EndDate DATE,    
	@LeaseIdList NVARCHAR(MAX) = NULL,
	@CompanyID INT
AS      
BEGIN        
    SET NOCOUNT ON;    
    
    -- Temp table for lease filtering      
    CREATE TABLE #LeaseTable (LeaseId INT PRIMARY KEY);    
        
    IF @LeaseIdList IS NOT NULL      
    BEGIN      
        INSERT INTO #LeaseTable (LeaseId)      
        SELECT value FROM STRING_SPLIT(@LeaseIdList, ',');      
    END;    
    
    -- Pre-aggregate LeaseLiability and ROUSchedule to reduce repeated reads    
    WITH LeaseLiabilityData AS (    
        SELECT     
            LeaseId,    
            SUM(Interest) AS TotalInterest,    
            SUM(Payment) AS TotalPayment,  
   SUM(Exchange_Gain_Loss) AS TotalExGainLoss  
        FROM LeaseLiability    
        WHERE LeaseLiability_Date BETWEEN @FromDate AND @EndDate    
        GROUP BY LeaseId    
    ),    
    ROUScheduleData AS (    
        SELECT     
            LeaseId,    
            SUM(Amortization) AS TotalAmortization    
        FROM ROUSchedule    
        WHERE ROU_Date BETWEEN @FromDate AND @EndDate    
        GROUP BY LeaseId    
    )    
    SELECT     
        SUM(LLF.Opening) AS OpeningLL,    
        SUM(LLD.TotalInterest) AS Interest,    
        SUM(LLD.TotalPayment) AS Payment,    
  SUM(LLD.TotalExGainLoss) AS Exchange_Gain_Loss,  
        SUM(CASE WHEN LLC.Closing < 0 THEN 0 ELSE LLC.Closing END) AS ClosingLL,    
        SUM(ROUF.Opening) AS OpeningROU,    
        SUM(ROU.TotalAmortization) AS Amortization,    
        SUM(CASE WHEN ROUC.Closing < 0 THEN 0 ELSE ROUC.Closing END) AS ClosingROU    
    FROM LeaseData LD    
    LEFT JOIN LeaseLiabilityData LLD ON LD.LeaseId = LLD.LeaseId    
    LEFT JOIN ROUScheduleData ROU ON LD.LeaseId = ROU.LeaseId    
    LEFT JOIN LeaseLiability LLC ON LD.LeaseId = LLC.LeaseId AND LLC.LeaseLiability_Date = @EndDate    
    LEFT JOIN LeaseLiability LLF ON LD.LeaseId = LLF.LeaseId AND LLF.LeaseLiability_Date = @FromDate    
    LEFT JOIN ROUSchedule ROUC ON LD.LeaseId = ROUC.LeaseId AND ROUC.ROU_Date = @EndDate    
    LEFT JOIN ROUSchedule ROUF ON LD.LeaseId = ROUF.LeaseId AND ROUF.ROU_Date = @FromDate    
    WHERE (@LeaseIdList IS NULL OR LD.LeaseId IN (SELECT LeaseId FROM #LeaseTable)) AND CompanyID=@CompanyID ;    
    
    DROP TABLE #LeaseTable;    
END; 
GO
